



<p>
  app-login works!
</p>


<!-- For Facebook Login -->
<button type="button" (click)="onLoginClick();">Facebook login</button>

<button type="button" (click)="onLogoutClick();">Logout</button>

<p id="status"></p>

<!-- For Google Login -->
<!--   <div class="g-signin2" >
              <span class="g-signin"
                data-scope="openid email"
                data-clientid="148253917849-9nuj36i6kskb5bnf1397d9rif1ifshlc.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback">
              </span>
  </div> -->

<button type="button" (click)="googleLogin();">Google Login</button>





