<header>Real Estate</header>
				<ol>
					<li><a target="_blank" href="https://fanniemae.taleo.net/careersection/10000/jobsearch.ftl?lang=en&_ga=2.234556118.930162828.1516236289-1994265478.1516236289">Fanniemae</a></li>
					<li><a target="_blank" href="https://www.freddiemac.jobs">FreddieMac</a></li>
					<li><a target="_blank" href="https://www.cbre.us/about/careers">CBRE Group</a></li>
					<li><a target="_blank" href="https://www.weyerhaeuser.com/careers/">Weyerhaeuser</a></li>
					<li><a target="_blank" href="http://www.us.jll.com/united-states/en-us/careers">Jones Lang LaSalle</a></li>
					<li><a target="_blank" href="https://www.realogy.com/careers">Realogy</a></li>
					<li><a target="_blank" href="http://careers.simon.com">Simon Property Group</a></li>
					<li><a target="_blank" href="http://welltower.com/careers/">Welltower</a></li>
					<li><a target="_blank" href="http://www.slgreen.com/pages/careers">SL Green</a></li>
					<li><a target="_blank" href="https://jobs.avalonbay.com">AvalonBay</a></li>
					<li><a target="_blank" href="http://www.hptreit.com/contact/careers/default.aspx">Hospitality Properties Trust</a></li>
					<li><a target="_blank" href="https://www.digitalrealty.com">Digitalrealty</a></li>
			<li><a target="_blank" href="https://www.richmondamerican.com/career-center">Richmond</a></li>
			<li><a target="_blank" href="http://www.annaly.com/about-annaly/careers">Annaly Capital Management</a></li>
			<li><a target="_blank" href="https://www.mrcoopercareers.com">mr. Cooper</a></li>
			<li><a target="_blank" href="http://www.equityapartments.com/corporate/careers.html">EquityResidential</a></li>
			<li><a target="_blank" href="http://www.vno.com/careers/overview">Vornado Reality Trust</a></li>
			<li><a target="_blank" href="http://www.crestwoodlp.com/careers/default.aspx">Crestwood</a></li>
			<li><a target="_blank" href="https://jobs.prologis.com">PROLOGIS</a></li>
			<li><a target="_blank" href="https://careers-bostonproperties.icims.com/jobs/">Boston Properties</a></li>
			<li><a target="_blank" href="https://www.meritagehomes.com/careers">MeritageHomes</a></li>
			
			







				</ol>