<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/technology" routerLinkActive="active">Technology</a>
  <a routerLink="/finance" routerLinkActive="active">Finance</a>
  <a routerLink="/retail" routerLinkActive="active">Retail</a>
  <a routerLink="/medical" routerLinkActive="active">Medical</a>
  <a routerLink="/rawMaterials" routerLinkActive="active">Raw Materials</a>
  <a routerLink="/autoIndustry" routerLinkActive="active">Auto</a>
  <a routerLink="/realEstate" routerLinkActive="active">Real Estate</a>
  <a routerLink="/manufacturing" routerLinkActive="active">Manufacturing</a>
  <a routerLink="/insurance" routerLinkActive="active">Insurance</a>
  <a routerLink="/agriculture" routerLinkActive="active">Agriculture</a>
  <a routerLink="/transportation" routerLinkActive="active">Transportation</a>  
  <a routerLink="/entertainment" routerLinkActive="active">Entertainment</a>  
  <a routerLink="/restaurant" routerLinkActive="active">Restaurant</a>
  <a routerLink="/construction" routerLinkActive="active">Construction</a>
  <a routerLink="/military" routerLinkActive="active">Military</a>
</nav>
<br/>
<!-- writing directives to override AngularJs behavior of detecting forms, tells angular to use the directive formGroup -->
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div formGroupName="userData">
  <div>
    <div>
      <!-- formControlName tells angular the name of the input in the typescript form-->
      <label for="username">Username</label>
      <input type="text" 
             id="username" 
             formControlName="username">
      <span *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched">
        <span *ngIf="signupForm.get('userData.username').errors['nameIsForbidden']">This name is invalid</span>
        <span *ngIf="signupForm.get('userData.username').errors['required']">This field is required</span>

      </span>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="text" 
             id="email" 
             formControlName="email">
       <span *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched">Please enter a valid email!</span>
    </div>
  </div>
  </div>
 <div class="radio" *ngFor="let gender of genders">
    <label>
      <input type="radio" 
             formControlName="gender" 
             [value]="gender">{{ gender }}
    </label>
  </div>
  <div formArrayName="hobbies">
    <h4>Your Hobbies</h4>
    <button type="button" (click)="onAddHobby()">Add Hobby</button>
    <div *ngFor="let hobbyControl of signupForm.get('hobbies').controls; let i = index">
      <input type="text" class="form-control" [formControlName]="i">
    </div>
  </div>
  <span *ngIf="!signupForm.valid && signupForm.touched">Please enter valid data!</span>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>



<app-app-login></app-app-login>
<router-outlet></router-outlet>
