<header>Retail Stores</header>
				<ol>
					<li><a target="_blank" href="https://target.taleo.net/careersection/tgt_hq/jobsearch.ftl?lang=en">Target</a></li>
					<li><a target="_blank" href="https://jobs.cvshealth.com">CVSHealth</a></li>
					<li><a target="_blank" href="https://wfa.kronostm.com/index.jsp?locale=en_US&APPLICATIONNAME=CostcoNonReqExt">Costco</a></li>
					<li><a target="_blank" href="https://jobs.walgreens.com/search-jobs/boots/1242/1">Walgreens Boots Alliance</a></li>
					<li><a target="_blank" href="https://jobs.kroger.com">Kroger</a></li>
					<li><a target="_blank" href="http://fortune.com/fortune500/home-depot/">Homedepot</a></li>
					<li><a target="_blank" href="https://careers.lowes.com">Lowes</a></li>
					<li><a target="_blank" href="http://www.albertsons.com/our-company/employment-positions/">Albertsons</a></li>
					<li><a target="_blank" href="https://careers.lowes.com">Lowes</a></li>
					<li><a target="_blank" href="https://www.bestbuy-jobs.com">Best Buy</a></li>
					<li><a target="_blank" href="http://corporate.publix.com/careers/stores/how-to-apply">Publix</a></li>
					<li><a target="_blank" href="http://www.tjx.com/careers/">TJX</a></li>
					<li><a target="_blank" href="https://www.riteaid.com/shop/info/about-us/careers">Rite Aid</a></li>
					<li><a target="_blank" href="http://www.chsinc.com/our-company/careers">CHS</a></li>
					<li><a target="_blank" href="http://www.macysinc.com/careers/">Macy's Inc</a></li>
					<li><a target="_blank" href="https://www.arrow.com/en/careers/careers-at-arrow">Arrow Electronics</a></li>
					<li><a target="_blank" href="https://jobs.sears.com">Sears</a></li>
					<li><a target="_blank" href="http://www2.dollargeneral.com/DG-Careers/Pages/index.aspx">Dollar General</a></li>
					<li><a target="_blank" href="https://www.starbucks.com/careers/retail-careers">Starbucks</a></li>
					<li><a target="_blank" href="https://careers.staples.com">Staples</a></li>
					<li><a target="_blank" href="http://kohlscareers.com">KOHL'S</a></li>
					<li><a target="_blank" href="https://www.supervalu.com/careers.html">SuperValu</a></li>
					<li><a target="_blank" href="www.wholefoodsmarket.com">Whole Foods</a></li>
					<li><a target="_blank" href="https://jobs.gapinc.com/home?utm_source=gapinc.com%2Fcontent%2Fgapinc%2Fhtml.html&utm_medium=referral&utm_campaign=corporate">GAP INC</a></li>
					<li><a target="_blank" href="https://jobs.officedepot.com">Office Depot</a></li>
					<li><a target="_blank" href="https://corp.rossstores.com/careers">Ross Stores</a></li>
					<li><a target="_blank" href="http://careers.lb.com/job-search-results/">L Brands</a></li>
					<li><a target="_blank" href="http://jobs.jcp.com">JCPenney</a></li>
					<li><a target="_blank" href="https://www.bedbathandbeyond.com/store/static/careers">Bed Bath & Beyond</a></li>
					<li><a target="_blank" href="http://careers.sherwin-williams.com/careers/">Sherwin-Williams</a></li>
					<li><a target="_blank" href="https://www.toysrusinc.com/careers">ToyrsRus</a></li>
					<li><a target="_blank" href="https://careers.autozone.com">AutoZone</a></li>
					<li><a target="_blank" href="https://www.advanceautoparts.jobs">Advance Auto</a></li>
					<li><a target="_blank" href="http://corpo.couche-tard.com/en/">Couche-Tard</a></li>
					<li><a target="_blank" href="https://careers.gamestop.com">Gamestop</a></li>
					<li><a target="_blank" href="http://www.dickssportinggoods.jobs">Dick's</a></li>
					<li><a target="_blank" href="https://www.sneakerjobs.com">Foot Locker, Inc.</a></li>
					<li><a target="_blank" href="https://www.arrow.com/en/careers/careers-at-arrow">Arrow Electronics</a></li>
					<li><a target="_blank" href="https://www.spartannash.com/careers/">SpartanNash</a></li>
					<li><a target="_blank" href="https://polo.hodesiq.com/job_start.asp?user_id=">Ralph Lauren</a></li>
					<li><a target="_blank" href="https://tractorsupply.jobs/?cm_sp=footer-_-tsc+careers">Tractor Supply</a></li>
					<li><a target="_blank" href="https://careers.dillards.com/Careers/">Dillard's</a></li>
					<li><a target="_blank" href="https://www.oshkoshcorp.com/careers/">OSHKOSH</a></li>
					<li><a target="_blank" href="https://careers.staples.com">Staples</a></li>
					<li><a target="_blank" href="https://burlingtonstores.jobs">Burlington</a></li>
					<li><a target="_blank" href="http://www.biglots.com/corporate/careers">BIGLOTS</a></li>
					<li><a target="_blank" href="https://www.michaels.com/careers---work-at-michaels/ca-careers-work-at-michaels.html">Michaels Cos.</a></li>
					<li><a target="_blank" href="https://careers.williams-sonomainc.com/?utm_source=careersite&utm_campaign=Header">Williams-Sonoma, Inc.</a></li>
					<li><a target="_blank" href="http://www.neimanmarcuscareers.com/index.shtml">Neiman Marcus</a></li>
					<li><a target="_blank" href="http://careers.barnesandnoble.com">Barnes&Noble</a></li>
					<li><a target="_blank" href="https://www.smartandfinal.com/employment-opportunities">Smart&Final</a></li>
					<li><a target="_blank" href="http://cabelas.jobs">Cabela's</a></li>
					<li><a target="_blank" href="http://www.beaconroofingsupply.com/Careers.html">Beacon Roofing Supply</a></li>
					<li><a target="_blank" href="https://about.sprouts.com/careers/">Sprouts Farmers Market</a></li>
					<li><a target="_blank" href="http://www.tiffanycareers.com/job-opportunities/">Tiffany&Co.</a></li>
					<li><a target="_blank" href="https://flowserve.jobs">FlowServe</a></li>
					<li><a target="_blank" href="https://www.ingles-markets.com/inside/career/">ingles Markets</a></li>
					<li><a target="_blank" href="https://www.overstock.com/careers">Overstock</a></li>
					<li><a target="_blank" href="https://www.finishline.com/store/corporate/employment.jsp">Finish Line</a></li>
					<li><a target="_blank" href="https://www.job-applications.com/hhgregg-application/">Hhgregg</a></li>
					<li><a target="_blank" href="http://jobs.99only.com">99 Only</a></li>
					<li><a target="_blank" href="https://recruiting2.ultipro.com/CAP1010CUSC/JobBoard/b4352687-7fa4-fce1-f24e-36e4b4241e95">Sears</a></li>
					<li><a target="_blank" href="https://www.restorationhardware.com/company-info/jobs/index.jsp">RH</a></li>
			<li><a target="_blank" href="https://www.express.com/g/careers">Express</a></li>
			<li><a target="_blank" href="https://sjobs.brassring.com/TGWebHost/home.aspx?partnerid=25813&siteid=5079">Guess</a></li>
			<li><a target="_blank" href="https://www.partycity.com/company/careers">Party City Holdco</a></li>
			<li><a target="_blank" href="https://www.columbia.com/About-Us_Careers.html">Columbia Sportswear</a></li>
			<li><a target="_blank" href="https://corporatecareers-giii.icims.com/jobs/intro?hashed=-435802132&mobile=false&width=947&height=500&bga=true&needsRedirect=false&jan1offset=-300&jun1offset=-240">G-III</a></li>
			<li><a target="_blank" href="https://jobs.jcrew.com">J.Crew</a></li>
			<li><a target="_blank" href="http://www.topsmarkets.com/Careers/">Tops</a></li>
			<li><a target="_blank" href="http://chicosfas.com/careers/default.aspx">Chico's FAS Inc</a></li>
			<li><a target="_blank" href="https://jobs.gnc.com/?_ga=2.140954486.530634361.1518051029-1977069245.1518051029">GNC</a></li>
			<li><a target="_blank" href="https://careers.bonton.com">Bon-Ton</a></li>
			<li><a target="_blank" href="https://careers.dswinc.com">DSW INC</a></li>
			<li><a target="_blank" href="http://www.genesco.com/careers/">Genesco</a></li>
			<li><a target="_blank" href="https://shop.pricesmart.com/gt/en/about/employment">Price Smart</a></li>
			<li><a target="_blank" href="http://raccareers.net">Rent A Center</a></li>
			<li><a target="_blank" href="https://www.edwards.com/careers/jobs">Edwards Lifesciences</a></li>
			<li><a target="_blank" href="https://www.hrblock.com/corporate/career-opportunities/">H&R Block</a></li>
			<li><a target="_blank" href="https://brown-forman.jobs">Brown-Forman</a></li>
			<li><a target="_blank" href="http://jobs.weismarkets.com">Weis Markets</a></li>
			<li><a target="_blank" href="http://corporate.carters.com/corporateCareers.html?_ga=2.254045704.1660905844.1517965243-1313323354.1517965243">Carter's Inc.</a></li>
			<li><a target="_blank" href="https://jobs.aarons.com/?_ga=2.132225997.253328353.1517965187-555996038.1517965187">Aaron's</a></li>
			<li><a target="_blank" href="http://www.anfcareers.com/page/Home">Abercrombie & Fitch</a></li>
			<li><a target="_blank" href="https://career4.successfactors.com/career?company=URBN">Urban Outfitters</a></li>
			<li><a target="_blank" href="https://aeo.jobs">American Eagle</a></li>
			

			



			





			

				</ol>
