<header>Automobile</header>
				<ol>
					<li><a target="_blank" href="https://search-careers.gm.com">General Motors</a></li>
					<li><a target="_blank" href="http://corporate.ford.com/ListJobs/ByCustom/Ford-Experience/Keyword-Experienced-Professional">Ford Motor</a></li>
					<li><a target="_blank" href="http://careers.chevron.com">Chevron</a></li>
					<li><a target="_blank" href="https://jobs.autonation.com">AutoNation</a></li>
					<li><a target="_blank" href="https://jobs.carmax.com">Carmax</a></li>
					<li><a target="_blank" href="http://jobs.genpt.com">Genuine Parts Company</a></li>
					<li><a target="_blank" href="https://www.group1careers.com">Group 1 Automotive</a></li>
					<li><a target="_blank" href="https://www.sonicautomotive.com">Sonic Automotive</a></li>
					<li><a target="_blank" href="https://lkqcorp.jobs.net/en-US/">LKQ</a></li>
					<li><a target="_blank" href="https://www.borgwarner.com/careers">BorgWarner</a></li>
					<li><a target="_blank" href="http://lithiacareers.com">Lithia Motors</a></li>
					<li><a target="_blank" href="https://careers.avisbudgetgroup.com/jobs/">Avis Budget Group</a></li>
					<li><a target="_blank" href="https://corporate.oreillyauto.com/onlineapplication/careerpage">O'Reilly</a></li>
					<li><a target="_blank" href="http://www.navistar.com/navistar/careers/">Navistar</a></li>
					<li><a target="_blank" href="https://www.tesla.com/careers">Tesla</a></li>
					<li><a target="_blank" href="http://www.genesishcc.com/career-opportunities">Genesis</a></li>
					<li><a target="_blank" href="http://www.rushenterprisescareers.com">Rush Enterprises</a></li>
					<li><a target="_blank" href="https://www.cdkglobal.com/company/career-opportunities#sm.00011ao6z362xd14tis1pbc8fbwxv">CDK Global</a></li>
			<li><a target="_blank" href="http://www.mercedes-amg-hpp.com/careers/">AMG</a></li>
			<li><a target="_blank" href="https://www.acadiahealthcarecareers.com">Acadia</a></li>
			<li><a target="_blank" href="http://karauctionservices.com/careers/">KAR Auction Services</a></li>
			<li><a target="_blank" href="https://www.visteon.com/careers/globalopp.html">Visteon</a></li>
			


					
					

				</ol>
