<header>Entertainment</header>
				<ol>
					<li><a target="_blank" href="https://jobs.disneycareers.com">Disney</a></li>
					<li><a target="_blank" href="https://www.21cf.com/careers">21st Century Fox</a></li>
					<li><a target="_blank" href="https://cbscorporation.jobs">CBS Corporation</a></li>
					<li><a target="_blank" href="https://www.sands.com">Sands</a></li>
					<li><a target="_blank" href="https://newscorp.com/careers/">News Corp</a></li>
					<li><a target="_blank" href="http://www.libertymedia.com/careers.html">Liberty Media</a></li>
					<li><a target="_blank" href="https://www.caesars.com/careers">Caesars Entertainment</a></li>
					<li><a target="_blank" href="http://www.woodward.com/careers.aspx">Woodward</a></li>
					<li><a target="_blank" href="http://www.universalcorp.com/Careers">Universal</a></li>
			<li><a target="_blank" href="http://www.tribunemedia.com/careers/">Tribune</a></li>
			<li><a target="_blank" href="http://www.boydcareers.com">BOYDGaming</a></li>
			<li><a target="_blank" href="https://www.pnkcareers.com/?url=%2Fcareers%2F">Pinnacle Entertainment</a></li>
			<li><a target="_blank" href="http://www.amcnetworks.com/career">AMC Networks</a></li>
			<li><a target="_blank" href="https://careers.scientificgames.com">Scientific Games</a></li>
			<li><a target="_blank" href="https://www.cinemark.com/careers">CineMark</a></li>
			<li><a target="_blank" href="http://www.pngaming.com/Careers">PENN National Gaming Inc.</a></li>
			<li><a target="_blank" href="https://corporate.univision.com/careers/">Univision</a></li>
			<li><a target="_blank" href="http://www.meredith.com/careers">Meredith</a></li>
			<li><a target="_blank" href="https://www.regmovies.com/about/job-opportunities">Regal Cinemas</a></li>
			<li><a target="_blank" href="http://www.wmg.com/careers">Warner Music Group</a></li>
			

			
			


				</ol>