<header>Manufacturing</header>
				<ol>
					<li><a target="_blank" href="http://www.kaman.com/careers/current-job-listings">Kaman</a></li>
					<li><a target="_blank" href="http://www.esterline.com/careers">Esterline</a></li>
					<li><a target="_blank" href="http://www.teledynecareers.com">Teledyne Technologies</a></li>
			<li><a target="_blank" href="http://www.trimble.com/Careers/job-search.aspxm">Trimble</a></li>
			<li><a target="_blank" href="www.hei.com">HEI</a></li>
			<li><a target="_blank" href="http://jobs.rockwellcollins.com">Rockwell Collins</a></li>
			<li><a target="_blank" href="https://www.transdigm.com">TransDigm</a></li>
			

			


					
	


				</ol>
