<header>Oil/Chemical/Minerals</header>
				<ol>
					<li><a target="_blank" href="http://careers.exxonmobil.com/">ExxonMobil</a></li>
					<li><a target="_blank" href="https://phillips66.jobs">Phillips 66</a></li>
					<li><a target="_blank" href="https://www.valero.com/en-us/Careers">Valero</a></li>
					<li><a target="_blank" href="https://jobs.marathonpetroleum.com">Marathon Petroleum</a></li>
					<li><a target="_blank" href="http://www.dow-dupont.com/about-dow-dupont/careers/default.aspx">DUPont</a></li>
					<li><a target="_blank" href="https://energytransfercareers.silkroad.com/eteext/EmploymentListings.html">Energy Transfer</a></li>
					<li><a target="_blank" href="https://exeloncorp.taleo.net/careersection/exelon_external/jobsearch.ftl?lang=en">Exelon</a></li>
					<li><a target="_blank" href="https://www.wfscorp.com/Careers">WorldFuel</a></li>
					<li><a target="_blank" href="http://careers.conocophillips.com">ConocoPhillips</a></li>
					<li><a target="_blank" href="http://www.andeavor.com/careers/">Andeavor</a></li>
					<li><a target="_blank" href="https://www.duke-energy.com/our-company/careers">Duke Energy</a></li>
					<li><a target="_blank" href="https://www.enterpriseproducts.com/careers">Enterprise Products Partners</a></li>
					<li><a target="_blank" href="https://www.plainsallamerican.com/careers">Plains GP Holdings</a></li>
					<li><a target="_blank" href="https://southerncompany.jobs">Southern Company</a></li>
					<li><a target="_blank" href="http://www.pbfenergy.com/careers">PBF Energy</a></li>
					<li><a target="_blank" href="https://www.fcx.com/careers">Freeport-McMoRan</a></li>
					<li><a target="_blank" href="https://monsanto.com/careers/">Monsanto</a></li>
					<li><a target="_blank" href="https://www.kindermorgan.com/pages/work/careers">Kinder Morgan</a></li>
					<li><a target="_blank" href="http://www.nglenergypartners.com/careers/">NGL Energy Partners</a></li>
					<li><a target="_blank" href="https://www.hollyfrontier.com/Careers/Career-Profile/">HollyFrontier</a></li>
					<li><a target="_blank" href="http://www.praxair.com/careers">Praxair</a></li>
					<li><a target="_blank" href="http://www.oxy.com/careers/Pages/default.aspx">Occidental Petroleum</a></li>
					<li><a target="_blank" href="https://careers.bhge.com">Baker Hughes</a></li>
					<li><a target="_blank" href="https://jobs.murphyusa.com">Murphy USA</a></li>
					<li><a target="_blank" href="http://www.airproducts.com/Careers/overview.aspx">Air Products</a></li>
					<li><a target="_blank" href="https://jobs.eastman.com/#_ga=2.144549557.1640921749.1517123633-674600195.1517123633">Eastman Chemical</a></li>
					<li><a target="_blank" href="http://www.oneok.com/en/Careers">ONEOK</a></li>
					<li><a target="_blank" href="https://jobs.newmont.com">NewMont</a></li>
					<li><a target="_blank" href="https://global.wd1.myworkdayjobs.com/globalpartnerscareers">Global Partners</a></li>
					<li><a target="_blank" href="https://www.anadarko.com/Careers/">Anadarko</a></li>
					<li><a target="_blank" href="http://www.quantaservices.com/careers-culture/">Quanta Services</a></li>
					<li><a target="_blank" href="http://careers.eogresources.com/adhocjobsearch.asp">EOG Resources</a></li>
					<li><a target="_blank" href="http://co.williams.com/williams/careers/">Williams</a></li>
					<li><a target="_blank" href="http://www.nov.com/Careers.aspx">National Oilwell Varco</a></li>
					<li><a target="_blank" href="http://www.mosaicco.com/careers.htm">Mosaic</a></li>
					<li><a target="_blank" href="http://www.amark.com/careers">A-mark precious metals</a></li>
					<li><a target="_blank" href="https://www.chemours.com/join-our-team/">Chemours</a></li>
					<li><a target="_blank" href="http://www.ashland.com/about/careers">Ashland</a></li>
					<li><a target="_blank" href="https://www.marathonoil.com/Careers/">Marathon Oil</a></li>
					<li><a target="_blank" href="https://www.technipfmc.com/en/careers">TechnipFMC</a></li>
					<li><a target="_blank" href="http://www.alonusa.com/about/careers">ALON USA</a></li>
					<li><a target="_blank" href="http://www.pxd.com/careers">Pioneer Natural Resources</a></li>
					<li><a target="_blank" href="http://www.urc.com/career_opps/index.php">United Refining Company</a></li>
					<li><a target="_blank" href="http://www.parpacific.com/Careers">Par Pacific</a></li>
					<li><a target="_blank" href="http://www.murphyoilcorp.com/Careers/">Murphy Oil Corporation</a></li>
					<li><a target="_blank" href="http://www.archcoal.com/careers/default.aspx">ArchCoal</a></li>
					<li><a target="_blank" href="http://www.clr.com/careers">Continental Resources</a></li>
					<li><a target="_blank" href="http://www.primoriscorp.com/careers/why-work-here">Primoris</a></li>
					<li><a target="_blank" href="http://www.cnx.com/careers">CNX</a></li>
					<li><a target="_blank" href="https://regi.jobs.net">Renewable Energy Group</a></li>
					<li><a target="_blank" href="https://jobs.clevelandcliffs.com">Cliffs</a></li>
			<li><a target="_blank" href="https://www.oge.com/wps/portal/oge/careers-main/careers/">OGE</a></li>
			<li><a target="_blank" href="https://careers.enablemidstream.com">Enable Midstream Partners</a></li>
			<li><a target="_blank" href="https://www.spragueenergy.com/careers">Sprague Resources</a></li>
			<li><a target="_blank" href="http://www.cabotcorp.com/company/careers">Cabot</a></li>
			<li><a target="_blank" href="https://www.aschulman.com/careers">A.Schulman</a></li>
			<li><a target="_blank" href="https://www.ryerson.com/ourcompany/careers">Ryerson</a></li>
			<li><a target="_blank" href="https://www.mscdirect.com/global/static/careers/index.html">MSC Direct</a></li>
			<li><a target="_blank" href="https://www.atimetals.com/careers">ATI</a></li>
			<li><a target="_blank" href="http://www.buckeye.com/Careers/tabid/97/Default.aspx">BUCKEYE Partners, L.P.</a></li>
			<li><a target="_blank" href="http://www.fmc.com/careers">FMC</a></li>
			


			

				</ol>